force-app/main/default/flows/Generate_COI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>generate_random_number</name>
        <label>generate random number</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>COI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_COI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>COI</nameSegment>
        <outputParameters>
            <assignToReference>generate_random</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Generate_COI</name>
        <label>Generate COI</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NewCOI.COINumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AZD0120{!generate_random}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCOI.Patient_Journey_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Journey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_COI_AZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_COI_NG</name>
        <label>Generate COI NG</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>newNT.COINumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_NG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNT.Patient_Journey_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Journey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_record_COI_NT</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_COI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AZD0120</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_NG</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NG-C--</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_For_status</name>
        <label>Check For status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Journey__r.Study_Definition__r.Display_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>AZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>generate_random_number</targetReference>
            </connector>
            <label>Status Completed</label>
        </rules>
        <rules>
            <name>Status_Complete_NG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Journey__r.Study_Definition__r.Display_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_COI_NG</targetReference>
            </connector>
            <label>Status Complete NG</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Dynamic_generation</name>
        <dataType>String</dataType>
        <expression>TEXT(MOD(VALUE(MID({!$Record.Id}, 4, 9)) * 1000 +
    VALUE(TEXT(YEAR(TODAY()))) * 100 +
    VALUE(TEXT(MONTH(TODAY()))) * 10 +
    5, 900000) + 100000)</expression>
    </formulas>
    <formulas>
        <name>VAR_NG</name>
        <dataType>String</dataType>
        <expression>TEXT(MOD(FLOOR((NOW() - DATETIMEVALUE(&quot;1900-01-01 00:00:00&quot;)) * 86400000), 10)) &amp;
&quot;S&quot; &amp;
TEXT(MOD(FLOOR((NOW() - DATETIMEVALUE(&quot;1900-01-01 00:00:00&quot;)) * 86400000 / 10), 10)) &amp;
&quot;R&quot; &amp;
TEXT(MOD(FLOOR((NOW() - DATETIMEVALUE(&quot;1900-01-01 00:00:00&quot;)) * 86400000 / 100), 10))</expression>
    </formulas>
    <interviewLabel>Generate COI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate COI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_COI_AZ</name>
        <label>Create COI AZ</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputReference>NewCOI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_record_COI_NT</name>
        <label>Create record COI NT</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <inputReference>newNT</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_records</name>
        <label>Get records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Journey__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COI__c</field>
            <value>
                <elementReference>NewCOI.COINumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chain_of_Identity__c</field>
            <value>
                <elementReference>NewCOI.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Journey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Journey__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COI__c</field>
            <value>
                <elementReference>newNT.COINumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Journey__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COI_Generation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Patient_Milestone__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>COI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>generate_random</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Get_Patient_Milestone_task_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Patient_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>GetALL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Patient_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>NewCOI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chain_of_Identity__c</objectType>
    </variables>
    <variables>
        <name>newNT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chain_of_Identity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_NG_post</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Variable_COI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
