force-app/main/default/flows/Patient_Milestone_Task_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_verified</name>
        <label>Is verified</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Verification_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Verify__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verify_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Milestone_Task</targetReference>
            </connector>
            <label>Verification Required</label>
        </rules>
        <rules>
            <name>No_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Verify__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Next_Milestone_Task</targetReference>
            </connector>
            <label>No Verification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Completed</name>
        <label>Status Completed</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Completed_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_verified</targetReference>
            </connector>
            <label>Status Completed Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextOrder</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Order__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Patient Milestone Task Update Flowa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Milestone Task Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Next_Milestone_Task</name>
        <label>Copy 1 of Update Next Milestone Task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Patient_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Milestone__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Patient_Milestone_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Milestone_Task</name>
        <label>Update Next Milestone Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Patient_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Milestone__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Patient_Milestone_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Completed</targetReference>
        </connector>
        <object>Patient_Milestone_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
