force-app/main/default/flows/Track_Patient_milestone_task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_the_prior_values</name>
        <label>Check for the prior values</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_name_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_name_in_audit</targetReference>
            </connector>
            <label>If name is changed</label>
        </rules>
        <rules>
            <name>If_Status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_status_in_audit</targetReference>
            </connector>
            <label>If Status is changed</label>
        </rules>
        <rules>
            <name>If_SMT_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Study_Milestone_Task__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Study_Milestone_Task__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMT_in_audit</targetReference>
            </connector>
            <label>If SMT is changed</label>
        </rules>
        <rules>
            <name>If_order_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_order_in_audit</targetReference>
            </connector>
            <label>If order is changed</label>
        </rules>
        <rules>
            <name>If_form_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Form__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Form__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_form_in_audit</targetReference>
            </connector>
            <label>If form is changed</label>
        </rules>
        <rules>
            <name>If_task_owner_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Task_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_owner_in_audit</targetReference>
            </connector>
            <label>If task owner changes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>action_type_form</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Form__c}== null, &apos;Create&apos;, IF({!$Record.Form__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_name</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Name} == null, &apos;Create&apos;, IF({!$Record.Name} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_order</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Order__c} == null, &apos;Create&apos;, IF({!$Record.Order__c}== null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_SMT</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Study_Milestone_Task__c}== null, &apos;Create&apos;, IF({!$Record.Study_Milestone_Task__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_status</name>
        <dataType>String</dataType>
        <expression>IF(PRIORVALUE({!$Record.Status__c}) == null, &apos;Create&apos;, IF(ISCHANGED({!$Record.Status__c}) == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_task_owner</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Form__c}== null, &apos;Create&apos;, IF({!$Record.Form__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <interviewLabel>Track Patient milestone task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track Patient milestone task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_form_in_audit</name>
        <label>Create form in audit</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Form__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_name_in_audit</name>
        <label>Create name in audit</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_order_in_audit</name>
        <label>Create order in audit</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMT_in_audit</name>
        <label>Create SMT in audit</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_SMT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Study Milestone task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Study_Milestone_Task__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Study_Milestone_Task__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_status_in_audit</name>
        <label>Create status in audit</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_owner_in_audit</name>
        <label>Create task owner in audit</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_task_owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Task Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Task_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Task_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_audit_records</name>
        <label>Get audit records</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_the_prior_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_patient_milestone_task_records</name>
        <label>Get patient milestone task records</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_audit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Milestone_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_patient_milestone_task_records</targetReference>
        </connector>
        <object>Patient_Milestone_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
