force-app/main/default/flows/Track_Patient_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_Prior_values</name>
        <label>Check for Prior values</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YOB_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Year_of_Birth__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Year_of_Birth__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_YOB_in_audit</targetReference>
            </connector>
            <label>YOB is changed</label>
        </rules>
        <rules>
            <name>Status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Status_in_audit</targetReference>
            </connector>
            <label>Status is changed</label>
        </rules>
        <rules>
            <name>Comments_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Comments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_comments_in_the_audit</targetReference>
            </connector>
            <label>Comments is changed</label>
        </rules>
        <rules>
            <name>Clinical_Site_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Clinical_Site__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Clinical_Site__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CS_in_audit</targetReference>
            </connector>
            <label>Clinical Site is changed</label>
        </rules>
        <rules>
            <name>If_Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_owner_in_audit</targetReference>
            </connector>
            <label>If Owner is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>action_type_owner</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.OwnerId} == null, &apos;Create&apos;, IF({!$Record.OwnerId} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_stat</name>
        <dataType>String</dataType>
        <expression>IF(PRIORVALUE({!$Record.Status__c}) == null, &apos;Create&apos;, IF(ISCHANGED({!$Record.Status__c}) == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_YOB</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Year_of_Birth__c} == null, &apos;Create&apos;, IF({!$Record.Year_of_Birth__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>Action_typeComm</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Comments__c} == null, &apos;Create&apos;, IF({!$Record.Comments__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>Action_typeCS</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Clinical_Site__c} == null, &apos;Create&apos;, IF({!$Record.Clinical_Site__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <interviewLabel>Track Patient Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track Patient Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_comments_in_the_audit</name>
        <label>Create comments in the audit</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action_typeComm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Comment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CS_in_audit</name>
        <label>Create CS in audit</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action_typeCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Clinical Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Clinical_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Clinical_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_owner_in_audit</name>
        <label>Create owner in audit</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Status_in_audit</name>
        <label>Create Status in audit</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_stat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_YOB_in_audit</name>
        <label>Create YOB in audit</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_YOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Year of Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Year_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Year_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_audit_records</name>
        <label>Get audit records</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Prior_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_registration_records</name>
        <label>Get Patient registration records</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_audit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient_registration_records</targetReference>
        </connector>
        <object>Patient_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
