force-app/main/default/flows/Track_Patient_Milestone_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>update_name_in_audit</name>
        <label>update name in audit</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_audit_records.Object_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>action_type_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Name_in_audit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_order_in_audit</name>
        <label>update order in audit</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_audit_records.Object_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actiontypeorder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_order_in_audit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_sm_in_audit</name>
        <label>update sm in audit</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_audit_records.Object_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Study Milestone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Study_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Study_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actiontypesm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SM_in_audit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_in_audit</name>
        <label>Update status in audit</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_audit_records.Object_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Old_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Changed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient_milestone_records.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_audit_records.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_type_stat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Status_in_audit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_prior_values</name>
        <label>check for prior values</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_in_audit</targetReference>
            </connector>
            <label>If Status is changed</label>
        </rules>
        <rules>
            <name>If_name_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_name_in_audit</targetReference>
            </connector>
            <label>If name is changed</label>
        </rules>
        <rules>
            <name>If_order_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_order_in_audit</targetReference>
            </connector>
            <label>If order is changed</label>
        </rules>
        <rules>
            <name>If_SM_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Study_Milestone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Study_Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_sm_in_audit</targetReference>
            </connector>
            <label>If SM is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>action_type_name</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Name} == null, &apos;Create&apos;, IF({!$Record.Name}== null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>Action_type_stat</name>
        <dataType>String</dataType>
        <expression>IF(PRIORVALUE({!$Record.Status__c}) == null, &apos;Create&apos;, IF(ISCHANGED({!$Record.Status__c}) == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>actiontypeorder</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Order__c} == null, &apos;Create&apos;, IF({!$Record.Order__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>actiontypesm</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Study_Milestone__c} == null, &apos;Create&apos;, IF({!$Record.Study_Milestone__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <interviewLabel>Track Patient Milestone Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track Patient Milestone Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Name_in_audit</name>
        <label>Create Name in audit</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_order_in_audit</name>
        <label>Create order in audit</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>actiontypeorder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SM_in_audit</name>
        <label>Create SM in audit</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>actiontypesm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Study Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Study_Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Study_Milestone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Status_in_audit</name>
        <label>Create Status in audit</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Action_type_stat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_audit_records</name>
        <label>get audit records</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_prior_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_patient_milestone_records</name>
        <label>get patient milestone records</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_audit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_patient_milestone_records</targetReference>
        </connector>
        <object>Patient_Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
