force-app/main/default/flows/Track_PMTFQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_prior_values</name>
        <label>Check for prior values</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Label_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Label__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Label__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_audit_record</targetReference>
            </connector>
            <label>If Label is changed</label>
        </rules>
        <rules>
            <name>If_order_id_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_audit_order_record</targetReference>
            </connector>
            <label>If order id changed</label>
        </rules>
        <rules>
            <name>If_value_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Value_audit_record</targetReference>
            </connector>
            <label>If value is changed</label>
        </rules>
        <rules>
            <name>If_form_question_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Form_Question__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Form_Question__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FQ_in_audit</targetReference>
            </connector>
            <label>If form question is changed</label>
        </rules>
        <rules>
            <name>If_read_only_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Read_Only__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Read_Only__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ro_in_audit</targetReference>
            </connector>
            <label>If read only changed</label>
        </rules>
        <rules>
            <name>If_required_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Required__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Required__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_req_in_audit</targetReference>
            </connector>
            <label>If required is changed</label>
        </rules>
        <rules>
            <name>If_visible_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Visible__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Visible__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_visible_in_audit</targetReference>
            </connector>
            <label>If visible is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>action_type_formula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Form_Question__c} == null, &apos;Create&apos;, IF({!$Record.Form_Question__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_label</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Label__c} == null, &apos;Create&apos;, IF({!$Record.Label__c} == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_order</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Order__c} == null, &apos;Create&apos;, IF({!$Record.Order__c}== null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_req</name>
        <dataType>String</dataType>
        <expression>IF(PRIORVALUE({!$Record.Required__c})== null, &apos;Create&apos;, IF(ISCHANGED({!$Record.Required__c})== null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_RO</name>
        <dataType>String</dataType>
        <expression>IF(PRIORVALUE({!$Record.Read_Only__c}) == null, &apos;Create&apos;, IF(ISCHANGED({!$Record.Read_Only__c})== null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>action_type_value</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.Value__c} == null, &apos;Create&apos;, IF({!$Record.Value__c}== null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <formulas>
        <name>actiontypevisible</name>
        <dataType>String</dataType>
        <expression>IF(PRIORVALUE({!$Record.Visible__c}) == null, &apos;Create&apos;, IF(ISCHANGED({!$Record.Visible__c}) == null, &apos;Delete&apos;, &apos;Update&apos;))</expression>
    </formulas>
    <interviewLabel>Track PMTFQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track PMTFQ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_audit_order_record</name>
        <label>create audit order record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_audit_record</name>
        <label>create audit record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Label</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FQ_in_audit</name>
        <label>Create FQ in audit</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Form_Question__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Form_Question__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_req_in_audit</name>
        <label>Create req in audit</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_req</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Ro_in_audit</name>
        <label>Create Ro in audit</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_RO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Read only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Read_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Read_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Value_audit_record</name>
        <label>Create Value audit record</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>action_type_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Value</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_visible_in_audit</name>
        <label>create visible in audit</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>actiontypevisible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Date_Time__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>Visible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.Visible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Patient Milestone Task Form Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Value__c</field>
            <value>
                <elementReference>$Record__Prior.Visible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_audit_records</name>
        <label>get audit records</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_prior_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Audit_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PMTFQ_records</name>
        <label>get PMTFQ records</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_audit_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Milestone_Task_Form_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_PMTFQ_records</targetReference>
        </connector>
        <object>Patient_Milestone_Task_Form_Question__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
